.container {
  max-width: 100%;
  display: grid;
  grid-template-columns:
    1fr 1fr
    minmax(10px, 1fr) 5fr
    repeat(5, 1fr)
    50px auto 100px 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.container > * {
  border: 1px solid red;
  padding: 8px;
  font-size: 12px;
  text-align: center;
}

.container .item-1 {
  grid-column: 2/6;
  grid-row: 1/4;
  background-color: lightblue;
}

.container .item-2 {
  grid-row: 2/4;
  grid-column: 1/4;
  background-color: lightgreen;
}

.container-2 {
  margin-top: 100px;
  width: 80%;
  display: grid;
  grid-template-columns: [first] 40px [line2 line3start] 1fr [line3] auto [line4] 50px [line5] 100px [last];
  grid-template-rows: [row1-start] 25% [row1-end row-2-start] 100px [third-line row-2-end] auto [last-line];
}

.container-2 > * {
  border: 1px solid blue;
  padding: 8px;
  font-size: 12px;
  text-align: center;
}

.container-2 .item-1 {
  grid-column: first / last;
  grid-row: row1-end / row-2-end;
  background-color: lightcoral;
}

.container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 50px 1fr;
}

.container-3 > * {
  border: 1px solid green;
  padding: 8px;
  font-size: 12px;
  text-align: center;
}

.container-4 {
  margin-top: 100px;
  width: 80%;
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav main . aside"
    "nav footer footer footer";
}

.container-4 > * {
  border: 1px solid purple;
  padding: 8px;
  font-size: 12px;
  text-align: center;
}

.container-4 header {
  grid-area: header;
  background-color: #fafafa;
}

.container-4 nav {
  grid-area: nav;
  background-color: #f0f0f0;
}

.container-4 main {
  grid-area: main;
  background-color: #e0e0e0;
}

.container-4 aside {
  grid-area: aside;
  background-color: #d0d0d0;
}

.container-4 footer {
  grid-area: footer;
  background-color: #c0c0c0;
}

.container-5 {
  margin-top: 100px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  row-gap: 40px;
  column-gap: 20px;
  place-items: start center;
  justify-content: stretch;
}

.container-5 > * {
  border: 1px solid orange;
  padding: 8px;
  font-size: 12px;
  text-align: center;
  column-gap: 20px;
}

.container-5 .item-1 {
  justify-self: start;
  background-color: lightgoldenrodyellow;
}

.container-5 .item-2 {
  background-color: lightgray;

  place-self: center end;
}

.container-6 {
  margin-top: 100px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: repeat(3, 100px);
  row-gap: 40px;
  column-gap: 20px;
  justify-content: start;
}

.container-6 > * {
  border: 1px solid brown;
  padding: 8px;
  font-size: 12px;
  text-align: center;
}

.container-6 .item-1 {
  background-color: lightpink;
}

.container-6 .item-2 {
  background-color: lightseagreen;
}
